:root {
  --color-gray: #333333;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent: #F13C6E;
  --color-light: #EFEFEF;

  --container-width: 1110px;
  --gap: 20px;
  --gap-xs: 10px;
  --gap-sm: 15px;
  --gap-lg: 30px;
  --gap-xl: 40px;

  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --line-height: 1.18;
  --letter-spacing: 0.1em;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  font-size: 0.875rem;
  color: var(--color-gray);
  background-color: var(--color-light);
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  width: min(100% - var(--gap) * 2, var(--container-width));
  margin-inline: auto;

}

.btn {

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-white);
  border-color: var(--color-accent);
}

.btn--secondary {
  letter-spacing: 0.05em;
  background-color: var(--color-accent);
  color: var(--color-white);
}

.header {
  display: flex;
  flex-direction: column;

}

.navbar-info {
  background-color: var(--color-white);
  padding: var(--gap) 0;
  margin-bottom: 1px;

}

.navbar-info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {}

.logo__link {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.logo__title {
  font-size: 36px;
  letter-spacing: var(--letter-spacing);
  color: var(--color-accent);
}


.feedback {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}

.feedback__phone {
  font-size: 1rem;
  color: var(--color-black);
}

/* .feedback__button {
  font-size: 14px;
  color: var(--color-black);
} */

.navbar-primary {
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}


.navbar-primary__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 var(--gap);
}

.navbar-primary__link {
  display: block;
  font-size: 1rem;
  padding: 7px var(--gap-xs);
}

.navbar-secondary {
  min-height: 50px;
  display: flex;
  align-items: center;
  order: -1;
}

.navbar-secondary__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 var(--gap-xs);
}

.navbar-secondary__link {
  display: block;
  padding: 7px var(--gap-xs);
}

.main {}

.hero {
  background-color: var(--color-accent);
  background-image: url(../image/Rectangle.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: var(--color-white);
  padding: 192px 0;
}



.hero__content {
  display: flex;
  gap: var(--gap-xl);
  flex-direction: column;
  align-items: flex-start;
  max-width: 375px;
}

.hero__title {
  font-size: 48px;
  line-height: var(--line-height);
  margin: 0;
}

.hero__description {

  line-height: 1.43;
  margin-bottom: 4px;
}

.hero__button {}

/* .btn {}

.btn--primary {
  background-color: var(--color-white);
  border-color: var(--color-accent);
} */

@media (max-width: 1400px) {
  .hero {
    background-size: cover;
  }
}